.main-container-re {
    height: 70vh;
    width: 70%;
    display: flex;
    margin: auto;
}


.left-re {
    width: 100%;
    padding: 2rem;
}

.right-re {
    width: 30%;
    padding: 2rem;
    justify-content: right;
}