.form {
  border: 1px solid black;
  border-radius: 10px;
  margin-right: 5rem;
  margin-left: 5rem;
  background-color: #f2f2f2;
  padding: 2rem;
}

.container {
  display: flex;
  /* justify-content: space-evenly;
  flex-wrap: wrap; */
  flex-direction: column;
}

.elem {
  border: 1px solid gray;
  border-radius: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0.5rem;
  align-items: baseline;
  background-color: white;
}

h3 {
  margin-left: 2rem;
}

.btn--wrap {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.err--wrap {
  display: flex;
  justify-content: center;
}

.btn {
  padding: 10px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: #b30c2e;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.radio {
  margin-right: 2rem;
}

.btn:hover {
  background-color: white;
  color: #b30c2e;
  border: 1px solid #b30c2e;
}

.red {
  color: red;
}