.container {
  display: flex;
  justify-content: center;
}

table {
  border-collapse: collapse;
}
th {
  padding: 1rem;
  background-color: #b30c2e;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: white;
}
td {
  text-align: center;
  padding: 0.5rem;
}
tr {
  border: 1px solid gray;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
tr:hover {
  background-color: #b30c2e;
  color: white;
}
