h1 {
  color: #b30c2e;
  text-align: center;
  padding-bottom: 1rem;
}

.card {
  border: 2px solid #b30c2e;
  border-radius: 10px;
  margin-left: 10rem;
  margin-right: 10rem;
  padding-bottom: 2rem;
  background-color: #fefefe;
}

.row-elem {
  display: inline;
  padding-bottom: 1.5rem;
}

.row-elem label {
  display: block;
  color: #b30c2e;
  font-size: 1.2rem;
}

.row-elem input {
  border: 1px solid #b30c2e;
  border-radius: 5px;
  height: 2rem;
  width: 15rem;
}

select {
  border: 1px solid #b30c2e;
  border-radius: 5px;
  height: 2.3rem;
  width: 15.4rem;
}

.row {
  display: flex;
  justify-content: space-around;
}

.row-elem__street input {
  width: 11rem;
}

.row-elem__number input {
  width: 4rem;
}

.row-elem__wrap {
  display: flex;
}

.submit button {
  margin-top: 2rem;
  background-color: #b30c2e;
  color: #fefefe;
  padding: 0.7rem;
  font-size: 1.2rem;
  border-radius: 5px;
  border: 1px solid #fefefe;
}

.submit button:hover {
  background-color: #fefefe;
  color: #b30c2e;
  border: 1px solid #b30c2e;
}
